{%load static%}



<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h11> LOGIN</h11>


<img scr="{% static 'image/logoabelha.png' %}" width="200" alt=""img>


<form>
    <div>


        <label>Nome:</label>
        <input type="text" name="mail" id="mail"</input>
    </div>
      <div>

        <label>Senha:</label>
        <input type="password"</input>
    </div>

    <dv>

        <input type="submit" value="enviar">

    </dv>

    </form>
    <ul>

     <list> Apicultura </list>



    </ul>
    <ol>
        <list> Seja bem vindo de volta</list>


</body>
</html>