{%load static%}
<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>funciona!</h1>
<h2>funciona!</h2>
<h3>funciona!</h3>
<h4>funciona!</h4>
<h5>funciona!</h5>
<h6>funciona!</h6>

<p>não não não</p>
<ing scr="{% static 'image/image.jpeg'%}">/ing>

<a href="http://www.google.com">"não sei"</a>
<div style="background-clor"

<form>
    <div>

        <label>Nome:</label>
        <input type="text" name="mail" id="mail"</input>
    </div>
    <dv>

        <input type="submit" value="enviar">
               <input type="submit">
    </dv>

    </form>
    <ul>

     <list> Arroz </list>
        <list> ovo</list>


    </ul>
    <ol>
        <list> material1</list>
        <list> material 2 </list>

</body>

</html>
