h1{
    background-color: black;
    width: 500px;
    height: 110px;
    border: solid 11px;
    border-radius: 20px;
    text-align: center;
    font-family: "Arial Black";
    font-size: 48px;
    text-shadow: 5px 5px gray;
    opacity: 0.5;
    visibility: visible;
}

.menu{
    background-color: #4ac1f7;

}
