{% extends 'base.html' %}
{% load static %}


    <!-- Example Code -->
{% block conteudo %}
    <form action="/cadastro/" method="POST">
   <div class="cadastro">
        <div class="left-login">
            <h1>Faça seu cadastro<br>Apicultura na sua mão!</h1>
             <img src="{% static 'image/bee-animate.svg' %}" alt="abelha e mel">
            <img >
        </div>
        <div class="right-cadastro">
            <div class="card-login">
                <h1>CADASTRO</h1>
                <div class="textfield">
                    <label for="exampleInputNome1" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome Completo</font></font></label>
    <input type="nome" class="form-control" id="nome" aria-describedby="nomelHelp">
    <div id="nomeHelp" class="form-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome completo.</font></font></div>
                </div>
                <div class="textfield">
                    <label for="exampleInputEmail1" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Endereço de email</font></font></label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nunca compartilharemos seu e-mail com mais ninguém.</font></font></div>
              </div>
      <div class="mb-3-3">
        <label for="password" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Senha</font></font></label>
        <input type="password" class="form-control" id="password">
      </div>
                <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Olhe para mim</font></font></label>
      </div>
                </div>
                <button type="submit" class="btn btn-primary" id="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
 </div>
            </div>
        </div>
    </div>

    </form>

{% endblock %}
    <!-- End Example Code -->
