
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="gg" style="backgroud-color: black">
    <br> <br> <br>


</div>





<h10>CADASTRO DE USUÁRIO!</h10>
<form>
    <div>
        <label>Nome do Usuário:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label>Nome Completo:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label>E-mail:</label>
        <input type="text" name="mail" id="mail">
    </div>
    <div>

        <label>Cria Senha:</label>
        <input type="password"</input>
    </div>
    <div>
        <input type="submit" value="Cadastrar">
    </div>
</form>
</body>
</html>