{% extends 'base.html' %}





{% block conteudo %}
<form>
     <div class="esquedo">
   <div class="cadastro">
        <div class="xx-login">

             <img >
            <img >
        </div>
        <div class="right-cadastro">
            <div class="card-login">
                <h1>CADASTRO DE COLMEIA</h1>
                <div class="textfield">
                    <label for="exampleInputEspecie1" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome da Especie</font></font></label>
    <input type="nome" class="form-control" id="exampleInputEspecie1" aria-describedby="EspecielHelp">
    <div id="especieHelp" class="form-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></div>
                </div>

                 <!-- quantidade de potes -->
    <div class="Quantidade-pote">
    <label for="qtedepote">Qtde potes</label>
	<input type='number' id='qtedepote' name='qtedepote'>
    <!-- End Example Code -->


                 <!-- Possui Polém -->
        <div class="Possui-Polém">
                  <label><font style="vertical-align: inherit;">Possui Polem</font></font></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Sim
                  </font></font></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="">
                  <label class="form-check-label" for="flexRadioDefault2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Não
                  </font></font></label>

                </div>
                </div>
                <!-- End Example Code -->

         <!-- Possui Rainha -->
                 <div class="Possui-Rainha">
                  <label><font style="vertical-align: inherit;">Possui Rainha</font></font></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Sim
                  </font></font></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="">
                  <label class="form-check-label" for="flexRadioDefault2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Não
                  </font></font></label>

                </div>
                </div>
                <!-- End Example Code -->
          <!-- Possui Princesa -->
                 <div class="Possui-Rainha">
                  <label><font style="vertical-align: inherit;">Possui Princesa</font></font></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Sim
                  </font></font></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="">
                  <label class="form-check-label" for="flexRadioDefault2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Não
                  </font></font></label>

                </div>
                </div>
                <!-- End Example Code -->
                 <!-- Estado da colmeia -->
    <div class="nome da comeia">
 <label><font style="vertical-align: inherit;">Estado da colmeia</font></font></label>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Ruim
      </font></font></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="">
      <label class="form-check-label" for="flexRadioDefault2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Bom
      </font></font></label>
    </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Otimo
        </font></font></label>

    </div>
    </div>
    <!-- End Example Code -->
                 <!-- Possui Disco -->
    <div class="Possui-Disco">
      <label><font style="vertical-align: inherit;">Possui Disco</font></font></label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">

      <label class="form-check-label" for="flexRadioDefault1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Sim
      </font></font></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="">
      <label class="form-check-label" for="flexRadioDefault2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Não
      </font></font></label>

    </div>
    </div>
    <!-- End Example Code -->
            <!-- Data de divisão e alimentação -->

    <div class="row data">
      <div class="col">
        <label for="dtdivisao">Data Divisão</label>
        <input type='date' id='dtdivisao' name='dtdivisao'>

      </div>
      <div class="col">
        <label for="dtalimen">Data Alimentação</label>
        <input type='date' id='dtalimen' name='dtalimen'>

      </div>


    <!-- End Data divisão e alimentação -->

        <!-- End Data Divisão -->



                </div>
                <button type="submit" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
                <button type="resert" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
 </div>
            </div>
        </div>
    </div>
</div>
    </form>



  {% endblock %}
