{% extends 'base.html' %}
{% load static %}
{% block menu %}






<hr>

    <div class="menu">
        <ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>


      </form>


            <li><a  href="#">     <font size="2">  <font face="times"> MENU </font>    </font> </a></li>
            <li><a  href="#">   <font size="2" >    <font face="times">CADASTRO</font> </font>  </a></li>

        </ul>
    </div>










      <!-- CAIXA DE PESQUISA-->





<br>
<hr>


<div class="img" >
    <img src="{% static '/image/api.jpeg' %}" width="1350px"  height="500px" alt="cc">
    </div>


<hr>

<!-- COLUNAS -->

<br>

<div class="container footer">
  <div class="row">

    <div class="col-md-6">
      col1
    </div>
    <div class="col-md-2">
      col2
    </div>
    <div class="col-md-2">
      col3
    </div>
    <div class="col-md-2">
      col4
    </div>
  </div>
</div>


{% endblock %}
