h1{
    background-color: yellow;
    width: 600px;
    height: 100px;
    border: solid 10px;
    border-radius: 20px;
    text-align: center;
    font-family: "Arial Black";
    font-size: 50px;
    text-shadow: 5px 5px gray;
    opacity: 0.5;
    visibility: visible;
}

.menu{
    background-color: #4ac1f7;

}

.footer{
    height: 200px;
    background-image:
            url("/static/image/image.jpeg");
}